.first-column {
    width: 25%;
    float: left;
}

.second-column {
    width: 55%;
    float: left;
}

.third-column {
    width: 20%;
    float: right;
}

@media screen and (max-width: 960px) {

    .first-third {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .second-third {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .third-third {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

}